<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="  crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="../public/style.css"> -->
    <style>
        *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    padding:10px 30px;
    background-color: rgb(54, 16, 243)
}
.header h5{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}
.upper-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px
  }
  
  .upper-box {
    display: flex;
    align-items: center;
  }
  
  .upper-box input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
    padding: 5px 5px;
    margin-right: 10px;
    font-size: 21px;
  }
  
  .upper-box button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 21px;
  }
  
  .add-centre {
    display: flex;
    align-items: center;
  }
  
  .add-form {
    margin-left: 10px;
  }
  
  .add-form input[type="text"] {
    padding: 5px 0;
    margin-right: 10px;
  }
  
  .add-form button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 21px;
  }
  
  .add-form button i {
    margin-right: 5px;
  }
  
  .upper-box input[type="text"]:focus,
  .add-form input[type="text"]:focus {
    outline: none;
    border-bottom: 1px solid black;
  }
  
  
.table-box{
    width: 100%;
    padding: 10px;
}
.table-box table{
    width: 100%;
    /* border: 1px solid black; */
}
.table-box table tr th{
    border-right: 1px solid #ccc;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid #ccc;
}

.table-box table tr td{
    border-right: 1px solid #ccc;
    padding: 10px 0px 0px 0px;
    text-align: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid #ccc;
}
.table-box tr form{
    width: 100%;
}

.table-box tr td button{
    width: 40%;
    border-radius: 12px;
    font-family: Verdana;
    border: none;
    background-color: blue;
    text-align: center;
    padding:13px;
    font-size: 12px;
    color:white;
    cursor: pointer;
}
/* .add-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .add-form {
    text-align: center;
  }
  
  .add-form input[type="text"] {
    padding: 10px;
    margin: 5px;
  }
  
  .add-form button {
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .add-form button i {
    margin-right: 5px;
  }
 */

    </style>
</head>
<body>
    <div class="header">
        <h5>Vaccination Centers</h5>
    </div>
    <div class="upper-btn-box">
        <div class="upper-box">
            <i class="fa fa-search"></i>
            <form action="/adminLogin/adminDashboard/adminSearch" method="post">
                <input type="text" name="searchQuery" id="district" placeholder="Search by District">
                <button>Search</button>
            </form>
        </div>
        <div class="add-centre">
            <form class="add-form" action="/adminLogin/adminDashboard" method="post">
                <input type="text" name="name">
                <input type="text" name="address">
                <button><i class="fa fa-plus"></i> New Centre</button>
            </form>
        </div>
    </div>
    <div class="table-box">
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            <% for (var i = 0; i < list.length; i++) { %>
                <% if ((list[i].name).length === 0 || (list[i].address).length === 0) { %>
                    <% continue; %>
                <% } %>
                <tr>
                    <td><%= list[i].name %></td>
                    <td><%= list[i].address %></td>
                    <td>
                        <button><i class="fa fa-eye"></i> Update</button>
                        <button><i class="fa fa-trash"></i> Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
    
</body>
</html>