<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- <link rel="stylesheet" href="dashboard_user.css"> -->
    <style>
        header{
    display: flex;
    justify-content: space-between
}

.links
{
    justify-items: center;
    display: flex;
    justify-content: space-between;
}
    </style>
</head>
<body>
    
    <header style="background-color: beige;">
        <img src="/assets/logo.png" alt="">
            <p id="links">
            <h2></h2><a href="">Search Centers</a> </p><h2>
            <h2></h2><a href="">Book a Slot</a> </p><h2>
            <h2></h2><a href="">Get Support</a> </p><h2> 
            <h2></h2><a href="HomePage.html">logOut</a> </p><h2>
        </p>


    </header>

    <main>
        <h1 style="text-align: center; background-color: bisque;">Put searching directly here or something else</h1>
    </main>
</body>
</html>