<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

       header
        {
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            background-color: beige;
            /* justify-content:space-between; */
        }
        .header-div
        {
            display: flex;
            /* justify-content:space-evenly; */
            gap: 0px 70px;
            justify-content: end;
        }

    </style>
</head>
<body>

    <header>
            <h1 style="font-size: 36px; width: 50%; color:#007Bff; ">Covinow</h1>
            <div class="header-div" style="width: 50%;">
                 <h2>
                    <a href="">Home</a> 
                </h2>
                <h2>
                    <a href="">Logout </a>
                </h2>
            </div>
    </header>
    
</body>
</html>