<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="HomePage.css">
</head>
<body>

    <header id="header">
            <img src="/assets/logo.png" alt="Logo">
        
            <sub>
            <button id="loginBtn">Login</button>
            <button id="signupBtn">SignUp</button>
            </sub>
    </header>
    
    <main id="bodyMain">
        
        <div1 id="leftpart">
            <img src="/assets/covid gif.gif" alt="covid img1">
        <h2>ABOUT:</h2>
        <p>
            Welcome to our webpage dedicated to COVID-19 vaccination in India. <br>
            The COVID-19 pandemic has impacted the world, and India has been one <br>
            of the countries significantly affected by the virus. As the second <br>
            most populous country in the world, India faced unique challenges in<br>
            managing the spread of the virus. However, through a robust vaccination<br>
            campaign and collective efforts, India is striving towards overcoming <br>
            this crisis and safeguarding its population.<br>
        </p>

        <h2>Vaccine Availability and Types:
        </h2>
        <p>
            India authorized several COVID-19 vaccines for emergency use, contributing <br>
            to a diverse portfolio of immunization options. These include <br>
            Covishield (developed by Oxford-AstraZeneca and manufactured by the Serum <br>
            Institute of India), Covaxin (developed by Bharat Biotech),<br>
            and Sputnik V (developed by Russia's Gamaleya Research Institute).<br>
            These vaccines have undergone rigorous testing and are proven to be safe<br>
            and effective in preventing severe illness and reducing transmission.<br>
        </p>

        </div1>

        <div id="rightpart">
            <h2 style="text-decoration:underline; color:darkgoldenrod; text-align: center;">
                Vaccination Steps:
            </h2>
            <p id="steps">
                1. Login/Signup with your details.         <br>
                2. Book Your Slot with the Nearest center. <br>
                3. Visit your Center on the booking day.   <br>
                4. Get your vaccination certificate.       <br>
            </p>

        </div>


    </main>
</body>
</html>